<md-card class="LoginMahasiswa">
  <md-card-content>
  <div class="col-sm-10">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Sign In As Students</md-card-title>
    </md-card-header>
</div>
  <div class = "row">
<md-input-container>
  <input mdInput placeholder="NIM" value="141524002">
</md-input-container>
</div>

  <div class = "row">
<md-input-container>
  <input mdInput placeholder="Password" value="141524002">
</md-input-container>
</div>
<button md-button (click)="openDialog()">Sign In</button>
  </md-card-content>
</md-card>